* @stonetusker-systems
/docs/ @stonetusker-systems
/meta-sensornode/ @stonetusker-systems
/.github/workflows/ @stonetusker-systems
/infra/ @stonetusker-systems
/mender/ @stonetusker-systems
/ci/jenkins/ @stonetusker-systems
