MACHINE ??= "qemuarm64"
DISTRO ?= "sensornode"
PACKAGE_CLASSES ?= "package_ipk"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
CONF_VERSION = "2"
DL_DIR ?= "${TOPDIR}/../cache/downloads"
SSTATE_DIR ?= "${TOPDIR}/../cache/sstate"
