MINIO_IMAGE_TAG=RELEASE.2024-08-03T04-33-23Z
MINIO_VOLUMES=/opt/stonetusker/data/minio
MINIO_ROOT_USER=replace-at-deployment
MINIO_ROOT_PASSWORD=replace-at-deployment
MINIO_CACHE_READ_USER=yocto-cache-read
MINIO_CACHE_READ_PASSWORD=replace-at-deployment
MINIO_CACHE_WRITE_USER=yocto-cache-write
MINIO_CACHE_WRITE_PASSWORD=replace-at-deployment
MINIO_RELEASE_USER=release-evidence-write
MINIO_RELEASE_PASSWORD=replace-at-deployment
MINIO_RELEASE_READ_USER=release-evidence-read
MINIO_RELEASE_READ_PASSWORD=replace-at-deployment
